.background{
    
  background: url("../images/always-grey.png") repeat #a4c1dd;
  min-height: 100%;
  margin-top: 0;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10vh 5vw;
  text-align: right;
}